<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoho Analytics</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 90%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://analytics.zoho.eu/open-view/222738000000002515/53abf4cc2a9a477577509e8be1a009f2"></iframe>
</body>
</html>
